<div style="display: flex;">
    <div style="text-align:center; width: 800px;">
        <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [xaxis]="chartOptions.xaxis"
          [title]="chartOptions.title"
        ></apx-chart>
    </div>
    <div style="text-align:center; width: 800px;">
        <apx-chart
          [series]="chartOptions2.series"
          [chart]="chartOptions2.chart"
          [xaxis]="chartOptions2.xaxis"
          [title]="chartOptions2.title"
        ></apx-chart>
    </div>
</div>

<div style="display: flex;">
    <div style="text-align:center; width: 800px;">
        <apx-chart
          [series]="chartOptions3.series"
          [chart]="chartOptions3.chart"
          [xaxis]="chartOptions3.xaxis"
          [title]="chartOptions3.title"
        ></apx-chart>
    </div>
    <div style="text-align:center; width: 800px;">
        <apx-chart
          [series]="chartOptions4.series"
          [chart]="chartOptions4.chart"
          [xaxis]="chartOptions4.xaxis"
          [title]="chartOptions4.title"
        ></apx-chart>
    </div>
</div>

<div style="display: flex;">
    <div style="text-align:center; width: 800px;">
        <div id="chart">
            <apx-chart
              [series]="chartOptions5.series"
              [chart]="chartOptions5.chart"
              [labels]="chartOptions5.labels"
              [responsive]="chartOptions5.responsive"
            ></apx-chart>
          </div>
    </div>
    <div style="text-align:center; width: 800px;">
        <div id="chart">
            <apx-chart
              [series]="chartOptions6.series"
              [chart]="chartOptions6.chart"
              [labels]="chartOptions6.labels"
              [responsive]="chartOptions6.responsive"
            ></apx-chart>
          </div>
    </div>
</div>
